<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
	<div class="container-fluid">
		<div class="navbar-header">
			<h2 id="home-icon-title">
				<img id="home-wolf-icon" src="static/assets/images/wolf_icon_white.png" alt="Hungry Lonewolf Icon"> Hungry Lonewolf
			</h2>
		</div>
		<ul class="nav navbar-nav navbar-right menu-custom">
			<li><a href="#plan">Plan</a></li>
			<li><a href="#potential">Potential</a></li>
			<li><a href="#past">Past</a></li>
			<li><a href="#" id="no-border">Logout</a></li>
		</ul>
	</div>
</nav>

